body {
    background-color: #28252c;
    font-family: sans-serif;
    color:black;
    background-image: url("https://images4.alphacoders.com/129/1291416.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* change the opacity to adjust the darkness */
    z-index: -1;
  }
  
.header{
    width: 85%;
    padding: 35px 0;
    display: flex;
}

#logo{
    position: fixed;
    top: 6px;
    width: 95px;
    padding-left: 37px;

}

.box {

    background-color: white;
    margin:auto;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 470px;
    height: 670px;
    border-radius:10px;

}

h1{
    text-align: center;
    position: relative;
    top:140px;
    
}

.main{
    margin: 0 auto;
    max-width: 600px; 
    position: relative;
    top: 200px;
    left: 220px;
}

input[type="text"], input[type="password"] {
    width: 330px;
    height: 40px;
    background-color: rgb(241, 241, 241);
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    margin-left:-90px;
    
}

label[for="user"]{
    font-weight:bold;
    color:red;
}
 label[for="pass"]{
    font-weight:bold;
    color:red;
    } 

.signed{
    left:-20px;
}
    
.checkbox-container {
    position:relative;
    left:-95px;
  }

  .k {
    position:relative;
    left: 15px;
    top:100px;
    color:rgb(100, 98, 98);
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color:inherit;
    
  }

  
  .button {
    background-color: #28252c;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position:relative;
    left:14px;
    bottom:-40px;
  }
  
  .button:hover {
    background-color: #fff;
    color: #28252c;
  }
  
  .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    position:relative;
    left:-5px;
    display: inline-block;
    padding: 5px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
  }

 .m{
    position:relative;
    left:6px;
 }

.note2 {
  position:relative;
  bottom: -100px;
  left: 10px
}